.DS_Store
*.pyc
__pycache__/
scrapingProject/*.log
scrapingProject/.scrapy
scrapingProject/*.tsv
crawlingFinished
scrapingProject/nytimes_news
*.swp
scrapingProject/dbs
scrapingProject/project.egg-info
**/logs
build/
dist/
eggs/
